

body {
	font-family: "Trebuchet MS", "Verdana", "Helvetica", "Georgia", "Times", "Times New Roman", "Comic Sans MS", "serif";
	font: 1em "Trebuchet MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

#wrap {
		background: transparent url("../assets/header_960.png") no-repeat;
		background-size: 100%;
	}

#header h2 {
	font: italic 2.4em/1 'Handwritten', "Palatino", cursive;
	color: #900;
}


#sidebar{
    font: 700 1em/200% 'Verdana';
    letter-spacing: -1px;
    white-space: nowrap;
}

#sidebar li {
	border-width: 0px 0px 1px;
	border-color: #C6C084;
}

#sidebar a {
        padding: 0 20%;
        background: url("../assets/links.png") 0 99%/13% no-repeat;
	}

#sidebar a:link,
#sidebar a:visited {
	color: #080;
}

#sidebar a:active {
	color: #900;
}

#sidebar a:hover {
	color: #6e2900;
}

#footer {
    font: 700 1.1em/2 'Verdana';
    letter-spacing: -1px;
}

div#thumbnails a,
#thumbnails,
ul#thumbnails li a,
#sidebar li {
	border: 1px solid;
}

#sidebar li {
	border: solid #C6C084 1px;
    border-width: 0px 0px 1px 0px;
}

	#sidebar a, #sidebar a:link,
	#sidebar a:visited {
		background: url("../assets/links.png") no-repeat;
		background-size: auto 500%;
		background-position: 0 -3.5%;
	}
	#sidebar a:hover {
		background-position: 0 47%;
	}
	#sidebar a:active {
		background-position: 0 99%;
	}

#footer,
#footer ul {
	text-align: right;
	background: url(../assets/grass_960.png) no-repeat;
	background-size: 100%;
	background-position: 50% 100%;
}

#footer b {
	color: #ff6
}


#footer,
#placeholder a,
div.wild {
	/*outline: solid blue 1px;*/
}