@font-face {
	font-family: 'Handwritten';
	src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'QuestaGrande';
    src: url('../fonts/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('../fonts/2-questa_grande_regular_31-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'QuestaSans';
    src: url('../fonts/2-Questa_Sans_Regular-webfont.woff2') format('woff2'),
         url('../fonts/2-Questa_Sans_Regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'sidebar';
	src: url('../fonts/ebgaramond12-regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ebgaramond12-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/ebgaramond12-regular-webfont.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ebgaramond12-regular-webfont.woff2') format('woff2'),
	     url('../fonts/ebgaramond12-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/ebgaramond12-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 700;
    font-style: normal;
	}

body {
	font-family: "Trebuchet MS", "Verdana", "Helvetica", "Georgia", "Times", "Times New Roman", "Comic Sans MS", "serif";
	font: 1em "Trebuchet MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

	#wrap {
		background: transparent url("../assets/header_960.png") no-repeat;
		background-size: 100%;
	}

#header h2 {
	font: 2.4em/1 'Handwritten', 'cursive';
	color: #900;
}

#sidebar a {
    font: 700 1em/2.5 'Verdana';
    padding: 0 1em;
    letter-spacing: -1px;
}

#footer {
    font: 700 1.1em/2 'Verdana';
    letter-spacing: -1px;
}

#footer li:last-child,
div#thumbnails a,
#thumbnails,
ul#thumbnails li a,
#sidebar li {
	border: 1px solid;
}


#footer,
#placeholder a,
div.wild {
	/*outline: solid blue 1px;*/
}

#sidebar li {
	border-width: 0px 0px 1px;
	border-color: #C6C084;
}

#sidebar li:last-child {
	border-width: 0;
}

#sidebar a:link,
#sidebar a:visited {
	color: #080;
}

#sidebar a:active {
	color: #900;
}

#sidebar ul,
#sidebar:active ul {
	border: solid #C6C084 1px;
    border-width: 0px 0px 1px 0px;
	white-space: nowrap;
    /*box-shadow: 3px 3px 6px hsla(300, 10%, 20%, .75);*/

}

#sidebar ul a {
	transition: background-color 1s;
}

#sidebar a:hover {
	color: #6e2900;
	background-color: rgb(238, 238, 221);
	text-shadow: 1px 1px 1px white;
	transform: scale(1.01);
	transform-origin: left;
}

	#content {
		font-size: .95em;
	}

#sidebar a {
        padding-left: 20%;
	}
        
	#sidebar a, #sidebar a:link,
	#sidebar a:visited {
		background: url("../assets/links.png") no-repeat;
		background-size: 13%;
		background-position: 0 -3.5%;
	}
	#sidebar a:hover {
		background-position: 0 47%;
	}
	#sidebar a:active {
		background-position: 0 99%;
	}
    /*sidebar*/
	#welcome ul li:nth-child(1) a,
	#about_us ul li:nth-child(2) a,
	#about_alpacas ul li:nth-child(3) a,
	#upkeep ul li:nth-child(4) a,
	#stud_services ul li:nth-child(5) a,
	#forsale ul li:nth-child(6) a,
	#links ul li:nth-child(7) a,
	#contact_us ul li:nth-child(8) a,
	#gal ul li:nth-child(9) a {
		background: url("../assets/links.png") 0 99%/13% no-repeat;
	}
	/* override above, save repeating sidebar , wrap for weight*/
	#wrap #footer ul li a {
		color: white;
		background: none;
	}

.menu {
    background-color: #C6C084;
	box-shadow: inset 0px 0px 5px hsla(300, 10%, 20%, .75), 2px 2px 2px hsla(300, 10%, 20%, .75);
    background: url(../assets/menu-icon.png) center no-repeat #C6C084;
    background-size: 105%;
}

#footer,
#footer ul {
	text-align: right;
	background: url(../assets/grass_960.png) no-repeat;
	background-size: 100%;
	background-position: 50% 100%;
	transition: background 1s;
}

#footer ul li:last-child {
	border-width: 0px;
}

#footer b {
	color: #ff6
}
/*sidebar*/
#welcome ul li:nth-child(1) a,
#about_us ul li:nth-child(2) a,
#about_alpacas ul li:nth-child(3) a,
#upkeep ul li:nth-child(4) a,
#stud_services ul li:nth-child(5) a,
#forsale ul li:nth-child(6) a,
#links ul li:nth-child(7) a,
#contact_us ul li:nth-child(8) a,
#gal ul li:nth-child(9) a {
	color: #900;
}

/* override above, save repeating sidebar */

#wrap #footer ul li a {
	color: white;
	background: none;
}

#innerwrap input {
	cursor: pointer;
	position: absolute;
	left: -9999px;
}