header {
	background-image: url("../assets/header__964.png");
	background-position: 50%;
	background-repeat: no-repeat;
}
footer {
	font: 700 1.25em/200% Georgia;
	letter-spacing: -1px;
	white-space: nowrap;
	text-align: right;
	background-position: 50% 0%;
	color: white;
}
nav {
	white-space: nowrap;
	font: 700 1em/2 Verdana, sans-serif;
}


hr {
	border: 0px;
	margin-right: 35%;
	height: 1px;
}

footer, footer ul {
	background-image: url("../assets/grass_960.png");
	background-repeat: no-repeat;
}

nav li {
	border-bottom: solid #C6C084 1px;
}
footer ul {
	background-color: #759707;
	border-top: solid 1px #9c0;
	background-position: 50% 100%;
}
footer li {
	line-height: 2;
}
nav a, nav a:link, nav a:visited {
	background-image: url(../assets/links.jpg);
	background-repeat: no-repeat;
	background-position: 0 -4%;
	color: #080;
}
.no-js body {
	background-color: khaki;
}
nav a:hover {
	text-decoration: none;
	color: #6e2900;
	background-position: 0 47%;
}
/*keep separate to keep early ie happy!*/
/* ie6 requires "nav a.current:visited" */
nav a.current, nav a.current:visited, nav a:active {
	color: rgb(153, 0, 0);
	background-position: 0 99%;
}

footer a, footer a:link, footer a:visited{
	color: white;
}

.fade {
	background-image: linear-gradient( 90deg, rgba(153, 204, 0, 0), rgba(153, 204, 0, 1) 40%, rgba(153, 204, 0, 0) 100%);
	max-width: 100%;
	background-position: 50%;
	box-sizing: border-box;
}


#welcome nav li:nth-child(1) a, #about_us nav li:nth-child(2) a, #about_alpacas nav li:nth-child(3) a, #upkeep nav li:nth-child(4) a, #stud_services nav li:nth-child(5) a, #alpacas_for_sale nav li:nth-child(6) a, #links nav li:nth-child(7) a, #contact_us nav li:nth-child(8) a, #gallery nav li:nth-child(9) a {
	color: #900;
	background-position: 0 99%;
}
/* hide from ie mac AND WATCH OUT FOR SPACE BETWEEN progid: AND DXImageTransform.
MUST BE: progid:DXImageTransform
_NOT BE: progid: DXImageTransform
\*/

*html header {
	background: none;
	width: 100%;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/header_752.png", sizingMethod="crop");*/
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/header__964.png", sizingMethod="crop");
}
*html a#yag img, *html header h1 img, *html #alpacas_for_sale main aside img {
	filter: alpha(opacity=0);
}
*html a#yag {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/yag_logo_ie.png", sizingMethod="scale");
}
*html header h1 {
	margin: 0;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/ga_logo_ie.png", sizingMethod="crop");
}
*html #alpacas_for_sale main aside {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../images/for_sale.png", sizingMethod="scale");
}
*html #wrap footer, *html #wrap footer ul {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/grass_960.png", sizingMethod="crop");
}
*html #gallery #wrap footer, *html #gallery #wrap footer ul {
	filter: -;
	background: url("../assets/grass_960.png") 50% 100% no-repeat;
}

*html #welcome header {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/header__964.png", sizingMethod="crop");
}

*html #welcome a#yag {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/yag_logo_ie.png", sizingMethod="scale");
}
*html #welcome header h1 {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/ga_logo_ie.png", sizingMethod="crop");
}

*html #welcome footer, *html #welcome footer ul {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="assets/grass_960.png", sizingMethod="crop");
}
/**/