/* https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/ */
/*https://css-tricks.com/logic-in-media-queries/*/
/*https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/*/
/*https://stackoverflow.com/questions/25759046/iphone-6-and-6-plus-media-queries*/
/*
-moz-device-pixel-ratio
Gives the number of device pixels per CSS pixel.
Note: This media feature is also implemented by Webkit as -webkit-device-pixel-ratio. The min and max prefixes as implemented by Gecko are named min--moz-device-pixel-ratio and max--moz-device-pixel-ratio; but the same prefixes as implemented by Webkit are named -webkit-min-device-pixel-ratio and -webkit-max-device-pixel-ratio.
*/

@media only screen {
	ul#thumbnails.gallery li {
		width: 16.4%;
		margin: .5%;
	}
	ul#thumbnails.gallery li.portrait {
		width: 12%;
	}
	ul#thumbnails.gallery {
		padding: .67%;
	}
	ul#thumbnails li a {
		float: none;
	}
	#controls button {
		background-image: url(../assets/buttons_sprite.png);
		background-color: hsla(75, 50%, 40%, .3);
		background-size: 128%;
	}
}
@media only screen and (max-width: 900px) {
#links #main #aside {
	right: -30%;
}
}
@media only screen and (max-width: 768px) {
	#stud_services #article p {
		margin-right: 0%;
	}
	#gallery.showtime #header h2 {
		margin: 0%;
	}
	.js #about_us #main>#aside {
		width: 100%;
	}
	#sell a {
		margin-left: 0%;
	}
	#sell.tog a.show {
		margin: 0;
		display: block;
	}
	#article div#sell figure a {
		margin-left: 0%;
	}
	#stud_services.verbose #footer {
		margin-top: 9%;
	}
	.js #alpacas_for_sale div#aside img {
		margin: 0%;
		float: none;
		animation: enter 1s 1 ease-out;
	}
	#alpacas_for_sale  #main>#aside {
		position: relative;
		width: 100%;
        right: 0%;
	}
	#alpacas_for_sale.sell #main>#aside {
		position: absolute;
	}
    
    #alpacas_for_sale #footer {
        padding-top: 15%;
        margin-top: -15%;
    }
    
    #alpacas_for_sale.sell #footer {
        padding-top: 0;
        margin-top: 9%;
    }
}
@media only screen and (max-width: 667px) {
	.touchevents .inplay #controls {
		top: 2.1em;
	}
	/*https://stackoverflow.com/questions/21715927/table-row-not-expanding-to-full-width/36606652*/
	#sell.tog table.show {
		position: absolute;
		left: -9999px;
	}
	#sell a.show {
		display: none;
	}
	#sell.tog a.show, #sell.extent a.show {
		display: block;
	}
	#sell table.show {
		position: static;
		left: 0px;
	}
	sell #sell {
		text-align: center;
	}
	/* if not using flex */
	#sell table {
		float: none;
		width: 100%;
		margin: 0;
	}
	ul.loop li a {
		font-size: 1em;
		padding: 1em .5em 1em 2em;
	}
	html.js .sell #sell a.show, html.js .sell #sell.tog table.show {
		display: none;
	}
	html.js .sell #sell.tog a.show, html.js .sell #sell table.show {
		display: block;
	}
}
@media only screen and (max-width: 667px) and (orientation: portrait) {
	#controls {
		font-size: 1.5em;
	}
	.touchevents .inplay #controls {
		top: 2.2em;
	}
}
@media only screen and (max-width: 375px) and (orientation: portrait) {
	#list, #sell {
		font-size: 0.9em;
	}
	#list.tab, #list.tab+#sell {
		font-size: 0.95em;
	}
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
    
    .js body {
        font-size: .7em;
    }
	
	figure a {
		box-shadow: none;
	}
	ul#thumbnails.gallery li {
		width: 16%;
		margin: 1%;
	}
	ul#thumbnails {
		padding: 1%;
	}
	#controls.static {
		top: -2.7em;
	}
	#alpacas_for_sale #tooltip {
		bottom: 23em;
	}
}