#alpacas_for_sale #main #aside {
	width: 100%;
	z-index: -1;
	display: block;
}
#alpacas_for_sale #main>div#aside {
	width: 72%;
}
#alpacas_for_sale.sell #main #aside {
	display: none;
}
#alpacas_for_sale #article ul, #alpacas_for_sale #article ul li>a, #alpacas_for_sale #main #aside, #extent, ul#thumbnails, #gallery #main, #controls {
	position: relative;
}
#alpacas_for_sale #article ul, .extent, #sell, #sell a, ul#thumbnails, ul#thumbnails a {
	overflow: hidden;
}
#alpacas_for_sale #main #aside {
	position: absolute;
	bottom: 12%;
	right: 0%;
	margin: 0;
	z-index: 1;
}
#alpacas_for_sale #aside img {
	float: none;
}
#alpacas_for_sale .sell #main #aside, .touch {
	left: -9999px;
}
#article {
	*height: 1%;
}
#alpacas_for_sale #header {
	z-index: 0;
	margin-bottom: 1em;
}
.extent {
	left: 0;
	margin: 0 auto;
	padding: 1.5%;
	*padding: .6em .3em;
	*height: 1%;
}
.extent figure {
	width: 31.8%;
	margin: 0 1%;
	*margin: 0 .3em;
	float: left;
    overflow: hidden;
}

.extent {
	display: table;
	border-spacing: .75em;
}
.extent figure {
	display: table-cell;
	float: none;
}
.extent figure {
	*display: inline-block;
	zoom: 1;
	*float: none;
}
/*
#extent figcaption{
	display: inline-block;
	padding: .3em .6em;
}
*/

#alpacas_for_sale #article ul {
	margin: 0;
	padding: 0;
	left: 0;
}
#alpacas_for_sale #article ul li {
	display: inline-block;
	display: inline;
	zoom: 1;
}
#alpacas_for_sale #article ul li a {
	float: left;
	padding: 0.7em 1.3em;
}
#alpacas_for_sale #article ul.loop li a {
	padding: 0.7em .5em 0.7em 2em;
}
#alpacas_for_sale #article ul.loop li:first-child a {
	float: left;
	padding-left: 0.7em;
}
#alpacas_for_sale #article ul>li {
	display: table-cell;
}
#alpacas_for_sale #article ul li>a {
	display: table-cell;
}
.nthchild #alpacas_for_sale #article ul.loop li:first-child a {
	padding-left: 1em;
}
 ul.tab li {
	float: left;
	margin: 0 1em 0 0;
}
#alpacas_for_sale #article ul.loop {
	left: -100%;
	transition: left .4s;
}
#alpacas_for_sale #article ul.tab, #alpacas_for_sale #article ul.loop {
	left: 0%;
}
.nthchild ul.loop li a {
	padding: .7em 0 .7em 1.8em;
}
.nthchild #alpacas_for_sale ul.loop li:first-child a {
	padding-left: .7em;
}
ul.loop li a::after, ul.loop li a::before {
	/*border arrows */
	display: block;
	position: absolute;
	top: 50%;
	left: 100%;
	z-index: 1;
	width: 0;
	height: 0;
	margin-top: -2em;
}
.no-nthchild #alpacas_for_sale ul.loop li a {
	padding: 2em;
}
/*https://www.paulirish.com/2008/the-two-css-selector-bugs-in-ie6/*/

html.js #article #sell>*, #sell, #article #sell.tog table, html.js #article #sell.tog table, .sell #aside, html.js #article #sell.extent > *.show  {
	display: none;
}
.sell #sell, html.js #article #sell>*.show, html.js #article #sell.extent figure {
	display: block;
}
html.js #article #sell a, html.js #article #sell table {
	*display: none;
}
html.js #article #sell a.show, html.js #article #sell table.show {
	*display: block;
}
#alpacas_for_sale #article {
	position: relative;
    width: 100%;
}
#sell {
	padding: 2%;
	height: 1%;
	*clear: left;
}

.tab + #sell {
    margin-top: -1px;
}

#sell a {
	display: block;
	padding: 1.6%;
	*height: 1%;
}

.sell #article #sell.tog a {
       margin-left: 0; 
    }

#sell table {
	table-layout: fixed;
	float: left;
}
#sell table {
    width: 46.5%;
    margin-right: 2.5%;
    }

#sell table table {
	margin-right: 0%;
	width: 100%;
}
#sell table.abbr th:first-child {
	width: 50%;
}
#sell table.abbr th:last-child {
	width: 50%;
}
  /*clear float in a situaton where javascript is disabled and tables are hardcoded into html*/
    .no-js #article div#sell a {
        margin: 0 0 2% 2%;
    }
.no-js #article div#sell a:last-child {
        margin: 0 0 0% 2%;
    }
/* end of sale */

/* G A L L E R Y */

ul#thumbnails li a, div#thumbnails a {
	display: block;
}
ul#thumbnails {
	margin: 6% auto 0;
	/*clear*/
	width: 90%;
	font-size: 1.03em;
    padding: 1.2em;
    /*https://stackoverflow.com/questions/1823551/what-is-this-ie-css-bug-called-double-vertical-padding*/
    _padding: 1.2em 1.2em .4em 1.2em;
}
ul#thumbnails.gallery {
		padding: 4px;
		padding: 0.3em;
	}
ul#thumbnails.gallery li.portrait {
    float: right;
    width: 4.3em;
    _width: 4.62em;
}
ul#thumbnails.gallery li {
    margin: 0.3em;
    width: 5.7em;
    _width: 6.1em;
    display: inline;
}
ul#thumbnails li {
	float: left;
	width: 100%;
	display: block;
}

/* https://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/media-tests/ */
@media screen only {
	ul#thumbnails.gallery {
		padding: 3%;
	}
	ul#thumbnails.gallery li {
        width: 79px;
        width: 6.4em;
	}
	ul#thumbnails.gallery li.portrait {
        width: 60px;
        width: 4.75em;
	}
}
/**/

ul#thumbnails li {
	display: none;
    opacity: 0;
}
ul#thumbnails.gallery li, ul#thumbnails li.show, ul#thumbnails li#slide, ul#thumbnails li#paused {
	display: block;
    opacity: 1;
	*display: inline;
}
#gallery #footer {
	padding-top: 0%;
	margin-top: 5%;
}
#gallery.showtime #footer {
	margin-top: 0%;
}
#gallery #footer ul {
	padding: 3.5% 5%;
	border-width: 0px;
}

#gallery #footer ul > * {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
}
/* G A L L E R Y | S H O W T I M E */

ul#thumbnails li#slide, li#paused {
	margin-left: -100%;
}
#controls {
	margin: 0 auto;
	-webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
	top: 0em;
	z-index: 2;
}
#controls.static {
	top: -3.5em;       
}
#gallery #main {
	padding: 0;
	text-align: center;
}
#controls, #controls button {
	display: inline;
	display: inline-block;
}
#controls {
	display: table;
	border-spacing: .5em;
}
#gallery #controls button {
	width: 1.5em;
	height: 1.5em;
	display: table-cell;
}
button#exit {
	margin: 0.33em;
	line-height: 1;
	-webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
	float: right;
}
/*IE5Mac Band Pass Filter NOTES*/

/* overflow: hidden; deal with painting bug */

/*overflow: visible required for 'aside' pages OVERRIDE for gallery else footer cannot calculate top margin*/

/*\*/

/*/
#gallery #innerwrap, #gallery ul {
overflow: hidden;
position: relative;
}
ul#thumbnails a {
	float: left;
}
#controls {
	outline: solid 1px blue;
	*height: 1%;
	*overflow: hidden;
	*clear: both;
}
/**/