div#thumbnails,
.showtime #placeholder {
	position: relative;
}

ul#thumbnails li a,
div#thumbnails a,
.showtime #placeholder,
#placeholder a {
	display: block;
}

.js #welcome div.wild {
	left: 34%;
}

.js #about_us div.wild {
	bottom: 4%;
	width: 67%;
	right: 0%;
}

.js #about_alpacas div.wild {
	right: -23%;
	bottom: 12%;
}


.js #about_alpacas .read-more-target p {
	margin-right: 45%;
}

.js #upkeep div.wild {
	width: 95%;
	bottom: 10%;
	right: -18%;
}


.js #upkeep .read-more-target p,
.js #upkeep #copy {
	margin-right: 40%;
}

.js #stud_services div.wild {
	bottom: 7%;
	width: 75%;
	right: -15%;
}

.js #stud_services #copy {
	width: 30%;
}

#stud_services #copy p {
	display: block;
	margin: 0.5em 0;
}

#forsale #innerwrap {
    padding-bottom: 25%;
}

.js #forsale div.wild {
	left: auto;
    width: 75%;
    right: 0%;
    bottom: 5%;
    z-index: 0;
}

#forsale #footer {
	margin-top: -25%;
}

#forsale.selling #footer {
	margin-top: 2%;
}

#forsale.selling div.wild {
	position: absolute;
	left: -9999px;
}

#forsale #copy ul {
	overflow: hidden;
	margin: 2% 0;
}

#forsale #copy ul li,
#forsale #copy ul li a {
	display: inline-block;
	position: relative;
}



.selling dl.thumbnails {
	margin: 0 .5em 0 0;
	width: 30.416%;
	display: inline-block;
	vertical-align: top;
}



.selling dl.thumbnails dd {
	margin-top: 1%;
}


/*
with flex dt and dd elements don't require a singular containing dl element
dl.bumnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

dl.bumnails dd {
    flex: 0 1 32%;
    margin: .5em 0 0 0;
    order: 2;
}

dl.bumnails dt {
    flex: 0 1 32%;
    order: 1;
}
*/

#sell,
#forsale #copy ul,
dl.thumbnails,
.selling #copy.js dl.thumbnails,
.selling #sell.chosen table {
position: absolute;
	left: -9999px;
}

#forsale.selling #copy ul,
.selling dl.thumbnails,
.selling #copy.js,
.selling #sell.chosen,
.selling #sell.chosen section table {
	position: relative;
	left: 0;
}

#forsale.selling #sell {
	padding: 1.5%;
	overflow: hidden;
	margin: 2% 0;
	padding: 3%;
}

#sell table {
	float: left;
	width: 47%;
	margin-right: 2%;
}

#sell a {
	display: block;
	overflow: hidden;
	padding: 1.5%;
}


/* end of sale */

.js #links div.wild {
	right: -24%;
	width: 90%;
	bottom: 5%;
}

.js #contact_us #copy p {
	display: block;
	margin: 0;
}

.js #contact_us div.wild {
	right: -19%;
	width: 64%;
	bottom: 12%;
}

.cssmask #contact_us .wild img:first-child {
	-webkit-mask: url('../images/contacts_masking.png') -1px 0px / cover;
	mask: url('../images/contacts_masking.png') -1px 0px / cover;
}


/* G A L L E R Y */

ul#thumbnails {
	padding: .5%;
	margin-top: 1em;
	/*clear*/
	overflow: hidden;
}

ul#thumbnails li,
#controls div.buttons {
	margin: .5%;
	float: left;
}

ul#thumbnails li.portrait {
	float: right;
}

ul#thumbnails li {
	width: 16.5%;
}

ul#thumbnails li.portrait {
	width: 11.5%;
}

ul#thumbnails a {
	/* constrains scale transition */
	overflow: hidden;
}

#gallery #footer {
	padding-top: 0%;
	margin-top: 1.5em;
}

#gallery #footer ul {
	padding: 3.5% 5%;
}


/* G A L L E R Y | S H O W T I M E */

.showtime #sidebar,
.showtime #header {
	position: absolute;
	left: -9999px;
}

#gallery.showtime #header,
#gallery.showtime #footer {
	position: static;
	left: 0;
}

#gallery.showtime #sidebar {
	width: 0%;
}

#gallery.showtime #content {
	width: 100%;
	min-width: 0%;
}

#gallery.showtime #header {
	margin: 0% 0% 2em;
	width: 100%;
}

#gallery.showtime #header h2 {
	display: block;
	margin-left: 10%;
}

#swapping {
	margin: 0 auto;
	width: 80%;
}

#swapping img {
	padding: 2%;
	width: 96%;
	/* crucial for slideshow */
	float: left;
}

#swapping img#slidepic,
#swapping img#overlay {
	margin-left: -100%;
}

.showtime ul#thumbnails,
#controls {
	position: absolute;
	left: -99999px;
}

.showtime #controls {
    position: relative;
    left: 0;
    top: -3.3em;
	margin: 0 10%;
	font-size: 1.5em;
	padding: 0 .75em;
}

#gallery.showtime #innerwrap {
    margin-bottom: -3.3em;
}

#controls div.buttons {
	float: left;
}

#controls div button {
	width: 2em;
	height: 2em;
	margin: 0 .4em;
	display: inline-block;
	vertical-align: top;
}