	@media screen and (min-device-width: 320px) {
	#controls div button {
		width: 1.8em;
		height: 1.8em;
		margin: 0 .3em;
	}
	#controls {
		top: 1.6em;
		padding: 0 .5em;
	}
	.showtime #footer ul li {
		visibility: hidden;
	}
	#controls div.buttons button {
		letter-spacing: -6px;
		padding-right: 6px;
	}
	#controls {
		font-size: 1.5em;
	}
}

@media screen and (orientation: portrait) and (max-device-width: 320px) {
	body {
		margin: 10px;
	}
	#swapping img#slidepic,
	#swapping img#overlay {
		margin-left: -300px;
	}
	ul#thumbnails {
		padding: 2px;
	}
	ul#thumbnails li {
		width: 47px;
		margin: 2px;
	}
	ul#thumbnails li.portrait {
		width: 34px;
	}
	#gal #footer ul {
		padding: 2% 5%;
	}
}



@media screen and (min-width: 480px) {
	ul#thumbnails li {
		width: 16.5%;
	}
	ul#thumbnails li.portrait {
		width: 11.5%;
	}
	#controls div button {
		width: 2.5em;
		height: 2.5em;
		margin: 0 .5em;
	}
	#controls {
		top: 2.25em;
	}
	#controls div.buttons button {
		letter-spacing: -4px;
		padding-right: 4px;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 480px) {
	body {
		margin: 16px;
	}
	.showtime #sidebar,
	.showtime #header {
		position: absolute;
		left: -9999px;
	}
	ul#thumbnails {
		padding: 3px;
	}
	ul#thumbnails li {
		width: 73px;
		margin: 2px;
	}
	ul#thumbnails li.portrait {
		width: 51px;
	}
	#swapping img#slidepic,
	#swapping img#overlay {
		margin-left: -446px;
	}
}

@media screen and (min-width: 481px) {
	#controls {
		top: 2.4em;
	}
	#controls div.buttons button {
		letter-spacing: 2px;
		padding: 0 0 0 2px;
	}
}

@media screen and (orientation: landscape) and (min-width: 667px) {
	#placeholder #swapping {
		width: 80%;
	}
	.showtime #controls {
		margin: 0 10%;
		top: -3.3em;
	}
	#controls div button {
		width: 2em;
		height: 2em;
		margin: 0 .4em;
	}
	#gal ul#thumbnails li {
		/*	width: 32.33%;*/
	}
	#gal.showtime #footer ul li {
		visibility: visible;
	}
	#gal.showtime #header,
	#gal.showtime #footer {
		clear: both;
	}
}

@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
	#controls {
		top: 1.9em;
	}
    
    	ul#thumbnails li {
		width: 106px;
		margin: 2px;
	}
	ul#thumbnails li.portrait {
		width: 73px;
	}
}
    
	@media screen and (min-width: 768px) {
		#forsale div.wild {
			position: absolute;
			outline: 1px solid red;
			width: 75%;
			left: 25%;
			bottom: 7%;
		}
		#forsale #footer {
			margin-top: 0;
		}
		#gal.showtime #header,
		#gal.showtime #footer {
			position: static;
			left: 0;
		}
		#gal.showtime #sidebar {
			width: 0%;
		}
		#gal.showtime #content {
			width: 100%;
		}
		#gal.showtime #header {
			margin: 7% 0 0 0%;
			width: 100%;
		}
		#gal.showtime #header h2 {
			display: block;
			margin-left: 10%;
		}
	}
	@media screen and (min-width: 960px) {
		#welcome div.wild img {
			left: 18%;
		}
		#welcome #copy p:nth-last-of-type(1) {
			display: block;
			margin: 0;
		}
		#about_us div.wild {
			bottom: 4%;
			width: 67%;
		}
		#about_us #content .wild img:first-child {
			position: absolute;
			left: -9999px;
		}
		#about_us #content .wild img:last-child {
			position: relative;
			left: 0;
			margin-left: 0%;
		}
		#about_alpacas div.wild {
			right: -23%;
			width: 80%;
			bottom: 12%;
		}
		#about_alpacas #copy {
			margin-right: 35%;
		}
		#about_alpacas .read-more-target p {
			margin-right: 45%;
		}
		#about_alpacas .wild img.mask,
		#contact_us .wild img.mask,
		#upkeep .wild img.mask {
			margin-left: -100.1%;
		}
		#stud_services div.wild {
			bottom: 7%;
			width: 75%;
			right: -15%;
		}
		#stud_services #copy {
			width: 30%;
		}
		#upkeep div.wild {
			width: 95%;
			bottom: 10%;
			right: -18%;
		}
		#upkeep .read-more-target p,
		#upkeep #copy {
			margin-right: 40%;
		}
		#links div.wild {
			right: -24%;
			width: 90%;
			bottom: 5%;
		}
		#contact_us div.wild {
			right: -19%;
			width: 64%;
			bottom: 12%;
		}
		.showtime #controls {
			top: -4em;
		}
	}
	@media screen and (min-width: 1160px) {
		#about_alpacas div.wild {
			right: -23%;
			width: 77%;
			bottom: 10%;
		}
	}