ringo { background-color: blue; width: 100px; height: 100px;}
#header h2 {color: pink;}
#footer    { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/grass.png")   }
div#thumbnails dt a span    { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/sold_only.png")   }
#copy p        { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/tintFadeNew.png")      }
body#gal #footer  { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="")  }
div.im img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
body#alpacas div.im  { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/alpacas.png")  }
body#us div.im { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/honcho.png") }
body#contact div.im { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/contact.png") }
body#lnks div.im { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/links.png") }
body#forsale div.im    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/for_sale.png")   }
body#stud div.im { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/stud.png") }
body#upkeep div.im { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/upkeep.png") }
body#home div.im  { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/Carlos.png") }
