.js #alpacas_for_sale {
	background-color: ivory;
	/*display: flex;
	flex-direction: column;
	 https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css */
}


.flexboxlegacy #alpacas_for_sale {
	background-color: yellow;
}

.flexboxtweener #alpacas_for_sale {
	background-color: gold;
}

.flexbox #alpacas_for_sale {
	background-color: darkgoldenrod;
}

.flexwrap #alpacas_for_sale {
	background-color: gainsboro;
}

.cssgrid body#alpacas_for_sale {
	background-color: fuchsia;
}


#sell {
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.extent figure {
	/*-webkit-box-flex: 1;*/
	/* OLD - iOS 6-, Safari 3.1-6 */
	/*-moz-box-flex: 1;*/
	/* OLD - Firefox 19- */
	/* For old syntax, otherwise collapses. */
	/*-webkit-flex: 1;*/
	/* Chrome */
	/*-ms-flex: 1;*/
	/* IE 10 */
	/*flex: 1;*/
    /*
   -webkit-box-flex: 1;
    -moz-box-flex: 1;
    webkit-flex: 1;
    ms-flex: 1;
    flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    */
}
#sell.extent figure {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 1%;
        -ms-flex: 1 1 1%;
            flex: 1 1 1%;
    border-color: blue;
    
}
#sell.extent figure:first-of-type {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 1%;
        -ms-flex: 2 1 1%;
            flex: 2 1 1%;    
     border-color: navy;
}


	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
		.flexboxlegacy figure a {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}