html,
body {
	height: 100%;
}

body {
	/*display: flex;
	flex-direction: column;
	 https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css */
	min-height: 100vh;
	margin: 3%;
}



#footer,
#content #copy p,
#content label.read-more-trigger {
	position: relative;
}

/* to prevent bottom gaps. BUT overide if inline treatment of images is required. https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps */

img {
	width: 100%;
	height: auto;
}

.animated {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-duration: 0.2s;
  -moz-animation-timing-function: ease;
  -ms-animation-duration: 0.2s;
  -ms-animation-timing-function: ease;
  -o-animation-duration: 0.2s;
  -o-animation-timing-function:ease;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}


@-webkit-keyframes entry  {
	0% {
		left: 9999px;
	}
	90% {
		left: -5px;
	}
	100% {
		left: 0;
	}
}

@keyframes entry  {
    /*position for inline elements */
	0% {
		left: 9999px;
	}
	90% {
		left: -5px;
	}
	100% {
		left: 0;
	}
}

@keyframes enter {
	0% {
		transform: translate(0,50em);
	}
	50% {
        transform: translate(0,-1.5em);
	}
	100% {
		transform: translate(0,0);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
    25% {
		opacity: 1;
	}
    75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blow {
        
     100% {
		padding-top: 30%;
	}
}

@-webkit-keyframes arriva {    
   100% {
	       top: 2%;
	}
}

#wrap {
	/* https://colintoh.com/blog/display-table-anti-hero 
    display: table;
    display: block;
    seems display table isn't a requirement for centering, just margin: auto
    which is good news as display: table + overflow: hidden + absolutely pos items are not clipped in firefox
    div is left to defaut to display block
    */
    padding-top: 0%;
	margin: auto;
	width: 100%;
    -webkit-animation: blow 1s 1 5s ease-in-out forwards;
}


#ga_logo {
	width: 100%;
}

#header {
	margin: 0 0 1em;
	border: solid #9c0;
	border-width: 0px 0px 1px;
	width: 100%;
	display: table;
}

#header>* {
	display: table-cell;
	vertical-align: bottom;
}

#header h1 {
	position: absolute;
    top: -100%;
    right: 4%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0em;
	width: 50%;
	max-width: 45%;
    -webkit-animation: arriva 3s 1 5s ease-in-out forwards;
}


.menu {
	position: absolute;
    top: -100%;
    left: 3%;
	height: 3em;
    width: 3em;
    -webkit-animation: arriva 3s 1 5s ease-in-out forwards; 
}

a#yag,
#yorks,
svg {
	width: 12%;
	width: 3em;
	max-width: 3.75em;
}

#copy p {
	display: inline;
	margin: 0;
}

#copy p:nth-of-type(1) {
	-webkit-animation: entry 1s 1 ease-out;
	animation: entry 1s 1 ease-out;
}

#copy p:nth-of-type(2) {
	-webkit-animation: entry 3s 1 ease-out;
	animation: entry 3s 1 ease-out;
}

#copy p:nth-of-type(3) {
	-webkit-animation: entry 5s 1 ease-out;
	animation: entry 5s 1 ease-out;
}

#copy p:nth-of-type(4) {
	-webkit-animation: entry 7s 1 ease-in-out;
	animation: entry 7s 1 ease-in-out;
}

/* https://codepen.io/Idered/pen/AeBgF */

#content .read-more-trigger {
	display: inline-block;
	padding: 0 .5em;
	color: #900;
	font: .8em/2.5 'Droid Sans', sans-serif;
	border: 1px solid #ddd;
	border-radius: .25em;
}

#content .read-more-trigger:hover {
	color: #080;
}

#content .read-more-state~.read-more-target p {
	position: absolute;
	opacity: 0;
}

#content .read-more-state:checked~.read-more-target p {
	position: relative;
	opacity: 1;
}

.read-more-state~.read-more-trigger::before {
	content: 'Read On';
}

.read-more-state:checked~.read-more-trigger::before {
	content: 'Read It';
}

.wild img {
	float: left;
	position: relative;
	/*animation: entry 2s 1 ease-out;*/
}

.wild {
    position: relative;
    margin-bottom: 1em;
	-webkit-animation: entry 2s 1 ease-out;
	animation: entry 2s 1 ease-out;
}

.wild:after {
  content: "";
  display: table;
  clear: both;
}

.wild img:last-child {
	/*mask*/
	margin-left: -500%;
}

#sidebar ul {
    position: absolute;
    overflow: hidden;
	background: white;
	left: -9999px;
	transition: font .5s;
}

#menu-toggle:checked+ul {
	top: 3.8em;
	left: 3%;
}
/*
#sidebar a {
	padding: .6em;
	height: 1%;
	/*ie*/
}
*/
#footer {
	margin-bottom: 1em;
}

#footer ul {
	padding: 22% 5% 3.5% 0;
	line-height: 1.2;
}

/* Start Mac IE5 filter \*/

div.wild img {}


/* End Mac IE5 filter */

.wild {
	margin: 1em 0;
    /* z-index required IF persisting with masking, explore clipping */
	z-index: -1;
	/* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
}

.wild img {}

#sidebar,
#copy,
#header h2,
label.menu,
#menu-toggle+ul {
	z-index: 1;
}

.clip-svg {
	clip-path: url(#myClip);
}