html,
body {
	height: 100%;
}

body {
	/*display: flex;
	flex-direction: column;
	 https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css */
	min-height: 100vh;
	margin: 3%;
}

#footer,
#content #copy p,
#content label.read-more-trigger {
	position: relative;
}

/* to prevent bottom gaps. BUT overide if inline treatment of images is required. https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps */

img {
	width: 100%;
	height: auto;
}


#wrap {
	/* https://colintoh.com/blog/display-table-anti-hero 
    display: table;
    display: block;
    seems display table isn't a requirement for centering, just margin: auto
    which is good news as display: table + overflow: hidden + absolutely pos items are not clipped in firefox
    div is left to defaut to display block
    */
    padding-top: 33%;
	margin: auto;
	width: 100%;
}


#ga_logo {
	width: 100%;
    float: left;
}

#header {
	margin: 0 0 1em;
	border: solid #9c0;
	border-width: 0px 0px 1px;
	width: 100%;
	display: table;
}

#header>* {
	display: table-cell;
	vertical-align: bottom;
}

#header h1 {
	position: absolute;
    top: 3%;
    right: 4%;
	white-space: nowrap;
	overflow: hidden;
	width: 50%;
	max-width: 45%;
    line-height: 1;
    text-indent: 100%;
    margin-top: -1em;
}


a#yag,
#yorks,
svg {
	width: 12%;
	width: 3em;
	max-width: 3.75em;
}

/**//**//**//**//**//**//**//**/


 
	#header {
		margin: 0 0 2% 25%;
		width: 75%;
	}

#gal #wrap, #wrap {
		padding-top: 22%;
        animation: none;
        position: relative;
        overflow: hidden;
	}

	#header h1 {
		left: 3%;
		top: 1%;
		right: auto;
		width: 21%;
        animation: none;
	}
	a#yag {
		position: absolute;
		top: 1.5%;
		right: 1.5%;
		width: 10%;
		max-width: 10%;
	}
	#header>* {
		display: block;
	}
	a#yag svg {
		width: 5em;
		overflow: visible !important;
	}
	.card {
		fill: #fff;
		filter: url(../assets/YAG.svg);
	}

#sidebar {
    width: 22%;
    float: left:
}

#content {
    width: 75%;
    float: right;
}

#innerwrap {
    overflow: hidden;
}

#copy p {
	display: inline;
	margin: 0;
}

.wild img {
	float: left;
	position: relative;
	/*animation: entry 2s 1 ease-out;*/
}

.wild {
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

/*
.wild img:last-child {
	margin-left: -500%;
}

*/
/*
#sidebar ul {
    position: absolute;
    top: 3%;
    left: 3%;
    overflow: hidden;
    font-size: .5em;
}

*/
/*
#sidebar a {
	padding: .6em;
	height: 1%;
	/*ie*/
}
*/


#footer ul {
	padding: 22% 5% 3.5% 0;
	line-height: 1.2;
}
#footer {
		padding-top: 15%;
        margin-bottom: 1em;
	}
#footer ul {
		padding: 3% 5% 3% 0;
		border: solid 0px #9c0;
		border-top-width: 1px;
		line-height: 1;
	}

#footer li {
	display: inline-block;
}

/* Start Mac IE5 filter \*/

div.wild img {}

/* End Mac IE5 filter */

.wild {
	margin: 1em 0;
    /* z-index required IF persisting with masking, explore clipping */
	z-index: 0;
	/* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
}

.wild img {}

#sidebar,
#copy,
#header h2,
label.menu,
#menu-toggle+ul {
	z-index: 1;
}

.js .wild {
		position: absolute;
		width: 80%;
		margin: 0;
		right: 0%;
		bottom: 15%;
        animation: enter 3s 1;
	}

 .cssmask #welcome .wild img:first-child {
         left: 18%;
        -webkit-mask: url('../images/carlos_masking.png') top left / cover;
        mask: url('../images/carlos_masking.png') top left / cover;
	}


.js #content .read-more-target p {
		margin-right: 30%;
	}

	#content p {
		z-index: 1;
	}