html.no-js body {
background: ivory;
}

html.js body{
background: white
}

body  {
font: 0.75em  "Trebuchet MS", sans-serif;
}

#header  { 
background: url(../assets/header_752.png) no-repeat 0% 0%;
}


#header h2 {
	font: italic 2.8em/1 "Handwritten", Georgia, cursive;
	color: #900;
	text-indent: .2em;
	 border: solid #9c0 1px;
	border-width: 0 0 1px;
}

#sidebar { 
font: 700 1em/2 Verdana, sans-serif;
white-space: nowrap;
 }

	#sidebar a, #sidebar a:link, #sidebar a:visited {
		background: url(../assets/links8.png) no-repeat;
		background-position: 0 -1%;
		color: #080;
	}

#sidebar li > a, #sidebar li > a:link, #sidebar li > a:visited {
		background: url(../assets/links22.png) no-repeat;
}

	#sidebar a:hover  {
		background-position: 0 51%;
		_background-position: 0 49%;	
		color: #6e2900;
	}
	/* ie6 requires "#sidebar a.current:visited" */
	#sidebar a.current, #sidebar a.current:visited, #sidebar a:active {
		background-position: 0 125%;
		background-position: 0 99%;
		color: #900;
	}

div#thumbnails a,
#thumbnails,
ul#thumbnails li a{
	border: 1px solid;
}

#sidebar li {
border: solid #C6C084 1px;
border-width: 0px 0px 1px;
}
	
#footer{
font: 700 1.25em/200% Georgia;
letter-spacing: -1px;
white-space: nowrap;
text-align: right;
background: url("../assets/grass_960.png") no-repeat;
}



#footer ul {
	/*background-color: #9db54c;*/
	background: url("../assets/grass_960.png") no-repeat rgb(157, 181, 76);
}

#footer li {
margin-left: .5em;
}

#footer b {
	color: #ff6;
}

#footer,
#placeholder a,
div.wild {
	/*outline: solid blue 1px;*/
}

/* hide from ie mac\*/

	*html #header{ 
	background: none;
width: 100%;

	/*
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/header_752.png", sizingMethod="crop");
*/
}
	
	*html #footer, *html #footer ul{ 
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/grass_960.png", sizingMethod="crop")
}

*html a#yag img, *html #header h1 img, *html #alpacas_for_sale #content .wild img {
filter: alpha(opacity=0);
}

	*html a#yag { 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/yag_logo_ie.png", sizingMethod="crop")
}

	*html #header h1 { 
	margin: 0;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/ga_logo_ie.png", sizingMethod="crop")
}

	*html #alpacas_for_sale #content .wild { 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../images/for_sale.png", sizingMethod="scale")
}

*html #sidebar a, *html #sidebar a:link, *html #sidebar a:visited {
		background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src="../assets/links22.png", sizingMethod="crop")
	}
	
/**/