@-webkit-keyframes alpacasBounce {
	0% {
		-webkit-transform: translate(0, 50em);-ms-transform: translate(0, 50em);transform: translate(0, 50em);
	}
	60% {
		-webkit-transform: translate(0, -2.7em);-ms-transform: translate(0, -2.7em);transform: translate(0, -2.7em);
	}
	100% {
		-webkit-transform: translate(0, 0em);
		-ms-transform: translate(0, 0em);
    transform: translate(0, 0em);
	}
}
@keyframes alpacasBounce {
	0% {
		-webkit-transform: translate(0, 50em);
		-ms-transform: translate(0, 50em);
    transform: translate(0, 50em);
	}
	50% {
		-webkit-transform: translate(0, -2.7em);
		-ms-transform: translate(0, -2.7em);
    transform: translate(0, -2.7em);
	}
	100% {
		-webkit-transform: translate(0, 0em);
		-ms-transform: translate(0, 0em);
    transform: translate(0, 0em);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translate(0, 40em);
		-ms-transform: translate(0, 50em);
    transform: translate(0, 50em);
	}
	50% {
		-webkit-transform: translate(0, -2.7em);
		-ms-transform: translate(0, -2.7em);
    transform: translate(0, -2.7em);
	}
	100% {
		-webkit-transform: translate(0, 0em);
		-ms-transform: translate(0, 0em);
	    transform: translate(0, 0em);
	}
}
@-webkit-keyframes alpacasSlide {
	/*position for inline elements */
	0% {
		-webkit-transform: translate(50em, 0);
		-ms-transform: translate(50em, 0);
    transform: translate(50em, 0);
	}
	50% {
		-webkit-transform: translate(4em, 0);
		-ms-transform: translate(4em, 0);
    transform: translate(4em, 0);
	}
	100% {
		-webkit-transform: translate(0, 0em);
		-ms-transform: translate(0, 0em);
    transform: translate(0, 0em);
	}
}
@keyframes alpacasSlide {
	/*position for inline elements */
	0% {
		-webkit-transform: translate(50em, 0);
		-ms-transform: translate(50em, 0);
    transform: translate(50em, 0);
	}
	50% {
		-webkit-transform: translate(4em, 0);
		-ms-transform: translate(4em, 0);
    transform: translate(4em, 0);
	}
	100% {
		-webkit-transform: translate(0, 0em);
		-ms-transform: translate(0, 0em);
    transform: translate(0, 0em);
	}
}
@-webkit-keyframes entry {
	0% {
		-webkit-transform: translate(9999px, 0);
		-ms-transform: translate(9999px, 0);
	    transform: translate(9999px, 0);
	}
	90% {
		-webkit-transform: translate(-25px, 0);
		-ms-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
	}
	100% {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
    transform: translate(0, 0);
	}
}
@keyframes entry {
	0% {
		-webkit-transform: translate(9999px, 0);
		-ms-transform: translate(9999px, 0);
	    transform: translate(9999px, 0);
	}
	90% {
		-webkit-transform: translate(-25px, 0);
		-ms-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
	}
	100% {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
    transform: translate(0, 0);
	}
}

@keyframes fade {
    0% {
		opacity: 0;
	}
    100% {
		opacity: 1;
	}
}
@media screen and (max-width: 768px) {
	#wrap {
		min-width: 250px;
	}
	#header a h1 img {
		margin: 0;
	}
	#innerwrap #main #aside {
		width: 100%;
	}
	.js #innerwrap #main #aside {
		position: static;
		display: block;
	}
	body {
		margin: 3.5%;
	}
	#wrap, #main, #nav {
		width: 100%;
	}
	#header {
		display: table;
		width: 100%;
		padding-top: 14em;
	}
	#header>* {
		display: table-cell;
		vertical-align: bottom;
		margin: 0px;
		width: 100%;
	}
	#header a:first-child {
		width: 22em;
		left: auto;
		right: -3.7em;
	}
	a#yag {
		top: auto;
		bottom: -.1em;
		width: 6em;
	}
	#nav ul, #nav:active ul {
		position: absolute;
		left: -999em;
		top: 3em;
		padding: 0em 0 0 0;
	}
	.menu {
		position: absolute;
		top: 0%;
		left: 0%;
		height: 3em;
		width: 3em;
	}
	#menu-toggle:checked+ul {
		top: 3.33em;
		left: 0em;
	}
	.js #article p, .js .read-more-target p, #main #article p, #main .read-more-target p {
		margin-right: 0%;
	}
	#article p span {
		display: inline-block;
		position: relative;
	}
	#article p span:nth-of-type(1), #contact_us #article p:nth-of-type(1), #stud_services #article p:nth-of-type(1) {
		-webkit-animation: entry .5s ease-out;
		animation: entry .5s ease-out;
	}
	#article p span:nth-of-type(2), #contact_us #article p:nth-of-type(2), #stud_services #article p:nth-of-type(2) {
		-webkit-animation: entry 1.5s ease-out;
		animation: entry 1.5s ease-out;
	}
	#article p span:nth-of-type(3), #contact_us #article p:nth-of-type(3), #stud_services #article p:nth-of-type(3) {
		-webkit-animation: entry 2.5s ease-out;
		animation: entry 2.5s ease-out;
	}
	#article p span:nth-of-type(4), #contact_us #article p:nth-of-type(4), #stud_services #article p:nth-of-type(4) {
		-webkit-animation: entry 3s ease-in-out;
		animation: entry 3s ease-in-out;
	}
	#article p span:nth-of-type(5), #contact_us #article p:nth-of-type(5) {
		-webkit-animation: entry 3.5s ease-in-out;
		animation: entry 3.5s ease-in-out;
	}
	#article p span:nth-of-type(6) {
		-webkit-animation: entry 4s 1 ease-in-out;
		animation: entry 4s 1 ease-in-out;
	}
	#main #aside {
		position: static;
	}
	#aside img {
		float: none;
	}
	#aside {
		-webkit-animation: alpacasSlide 1s 1 ease-out;
		animation: alpacasSlide 1s 1 ease-out;
	}
	#main .read-more-trigger {
		display: inline-block;
		padding: 0 .5em;
		margin-bottom: 1em;
	}
	#footer {
		padding: 0%;
		margin-top: 5%;
	}
	.verbose #wrap #footer {
		margin-top: 0%;
	}
}
@media only screen and (max-width: 900px) {
	.verbose #article > * {
		margin-right: 0%;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		font-size: 0.9em;
	}
	#main {
		font-size: 0.95em;
	}
	#header {
		padding-top: 11em;
	}
	#header h1 {
		margin: -1.9em 0 0;
	}
	a#yag {
		width: 5em;
	}
	#footer li {
		display: block;
		line-height: 1.3;
	}
	#footer li:first-child::after {
		content: "";
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
	#header {
		font-size: 0.8em;
	}
}
@media screen and (min-width: 869px) {
	#nav {
		width: 21%;
	}
	#main {
		width: 73%;
	}
	#header h2 {
		margin: 0% 0 0 27%;
	}
	#aside {
		-webkit-animation: alpacasBounce 3s 1 ease-out;
		animation: alpacasBounce 3s 1 ease-out;
	}
	#aside:after {
		content: "";
		display: table;
		clear: both;
	}
    /*
	#wrap #footer, #footer ul {
		background-image: url("../assets/grass.png"), url("../assets/grass.png");
		background-repeat: no-repeat, no-repeat;
		background-position: 50% 20%, -50% -50%;
	}
    */
   
}
@media screen and (max-width: 2000px) {
	#wrap {
		max-width: 80em;
	}
}

@media screen\0 {
    #header a {
	top: -5%;
}
    a#yag {
	top: 1%;
}
}