@media screen and (min-width: 667px) {
	#footer li {
		display: inline-block;
		color: white;
	}
	#footer li:first-child::after {
		content: " |";
	}
	#footer ul {
		padding: 3% 5% 3% 0;
		border: solid 0px #9c0;
		border-top-width: 1px;
		line-height: 1;
	}
	#footer {
		padding-top: 15%;
	}
	#footer,
	#footer ul {
		background-size: 110%;
	}
}


/* ------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    
	#gal #wrap, #wrap {
		padding-top: 22%;
        animation: none;
        position: relative;
        overflow: hidden;
	}
	#header {
		margin: 0 0 0 25%;
		width: 75%;
	}
    
	#innerwrap {
		display: flex;
		flex-direction: row-reverse;
        justify-content: space-between;
	}
    
	#content {
		flex: 0 0 75%;
		padding-top: 1em;
	}
    
	#sidebar {
        flex: 0 0 22%;
	}
        
	#header h1 {
		left: 3%;
		top: 1%;
		right: auto;
		width: 21%;
        animation: none;
	}
	a#yag {
		position: absolute;
		top: 1.5%;
		right: 1.5%;
		width: 10%;
		max-width: 10%;
	}
	#header>* {
		display: block;
	}
	a#yag svg {
		width: 5em;
		overflow: visible !important;
	}
	.card {
		fill: #fff;
		filter: url(../assets/YAG.svg);
	}
	#sidebar ul,
	#sidebar:active ul {
		/*reset*/
		position: static;
		top: auto;
		left: auto;
		width: auto;
	}
	#sidebar a {
		/*padding: 5% 0% 3% 6%;*/
        padding-left: 6%;
	}
	#sidebar a:hover {
		transform: scale(1);
	}
	#sidebar li:last-child {
		border-width: 0 0 1px 0;
	}
	#content .read-more-state~.read-more-target p {
		position: relative;
		animation: fade 1s ease-in;
		opacity: 1;
	}
	.menu,
	#content label.read-more-trigger {
		position: absolute;
		left: -9999px;
	}
}

@media screen and (min-width: 960px) {

	.wild {
		position: absolute;
		width: 80%;
		margin: 0;
		right: 0%;
		bottom: 15%;
        animation: enter 3s 1;
	}
    
   
	#content .wild img:last-child {
		margin-left: -100%;
	}
        
    /*masking support...
    
     #content .wild img:first-child {
        -webkit-mask: url('../images/carlos_masking.png') top left / cover;
        mask: url('../images/carlos_masking.png') top left / cover;
	}
	#content .wild img:last-child {
		margin-left: -1000%;
	}
    
     .wild {
    z-index: 0;
    }
    */
    
	#content p {
		z-index: 1;
	}
	#content .read-more-target p {
		margin-right: 30%;
	}

	#content #copy p {
		animation: fade 1s ease-in;
	}
	#sidebar .inner {
		padding: .5em 0 1em 1em;
	}
	#sidebar a {
        line-height: 2;
        padding-left: 20%;
	}
}

@media screen and (min-width: 1024px) {
	#gal #wrap, #wrap {
		width: 92%;
		padding-top: 20%;
	}    
}


@media screen and (min-width: 1260px) {
	#gal #wrap, #wrap {
		width: 82%;
        padding-top: 18%;
	}
	#sidebar a {
		/*padding: 7% 0% 1% 20%;*/
        padding-left: 20%;
	}
}