/*http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul, dl {
	list-style: none;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*

body#welcome .c-tab, .c-tabs-nav a.is-active {
	background: white;
}
.c-tabs-nav {
	display: flex;
	margin: 0 0 0 .25em;
}
body#welcome .c-tabs-nav a {
	font-weight: 700;
	flex: none;
	display: inline-block;
	margin: 0 .25em;
	padding: .6em 1.5em;
	text-align: center;
	border-radius: .5em .5em 0 0;
	border: dotted 1px #7F4E1E;
	border-bottom-width: 0px;
	color: #7F4E1E;
	z-index: 3;
}
.c-tabs-nav a:hover {
	color: #6d6d6d;
}
body#welcome .c-tabs-nav a.is-active {
	color: #C6C084;
	border-bottom-color: white;
}
.c-tab {
	position: absolute;
	top: -9999px;
	;
	left: -9999px;
	border: dotted 1px #7F4E1E;
	transition: all .5s;
}
.c-tab.is-active {
	position: relative;
	top: 0;
	left: 0;
	margin-top: -1px;
}
.c-tab_content {
	padding: .2em 1em;
	position: relative;
	background: transparent;
}
.c-tab_content.img {
	overflow: hidden;
}
.c-tab_content.img img {
	position: relative;
	padding: 1em;
	box-sizing: border-box;
	z-index: 1;
}
.c-tab_content.img::after {
	content: "";
	background-image: radial-gradient(#C6C084, white);
	width: 25em;
	height: 25em;
	border-radius: 12.5em;
	position: absolute;
	right: -4em;
	bottom: -4em;
}
*/