header {
    @include header-hi();
}

hr {
	border: 0px;
	margin-right: 35%;
	height: 1px;
}

nav {
    white-space: nowrap;
	font: $navfontsize $navfontfam;
    li {
        border-bottom: solid $menu 1px;
    }
    a, a:link, a:visited {
        @extend %wavy;
    }
    a:hover {
        text-decoration: none;
        color: $navhover;
        background-position: 0 47%;
    }
    /*keep separate to keep early ie happy!*/
/* ie6 requires "nav a.current:visited" */
    a.current, a.current:visited, a:active {
        color: $current;
        background-position: 0 99%;
    }
}
footer {
    font: 700 1.25em/200% $serif;
	letter-spacing: -1px;
	white-space: nowrap;
	text-align: right;
	background-position: 50% 0%;
	color: white;
    @include footy;
    ul {
        background-color: $grass;
        border-top: solid 1px $limey;
        background-position: 50% 100%;
        @include footy;
    }
    li {
        line-height: 2;
    }
    a, a:link, a:visited{
        color: white;
    }
}

.fade {
	background-image: linear-gradient( 90deg, rgba(153, 204, 0, 0), rgba(153, 204, 0, 1) 40%, rgba(153, 204, 0, 0) 100%);
	max-width: 100%;
	background-position: 50%;
	box-sizing: border-box;
}

 @for $i from 1 through length($navlist) {
     $l: nth($navlist, $i);
        #{$l} nav li:nth-child(#{$i}) a {
            color: $current;
            background-position: 0 99%;
     }
    }
/* eg.. #welcome nav li:nth-child(1) a {}*/
.no-js body {
    background-color: rgb(255, 255, 248);
}