//https://stackoverflow.com/questions/5855985/sass-first-child-not-working
$bkg: #EBF2D8;
$bkg:  #dfe8c7;
$main: #7F9933;
$pale: #B2CC65;
$mid: #9FBF3F;
$bkgtex:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ebf2d8' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");

$speed: 5s;

@keyframes fadefromgrey {
	0% {
    filter: grayscale(100%);
	}
	100% {
		filter: grayscale(0%);
	}
}

@-webkit-keyframes fadefromgrey {
	0% {
        -webkit-filter: grayscale(100%);
	}
	100% {
		-webkit-filter: grayscale(0%);
	}
}

figcaption {
	text-align: center;
	font: normal 1em "Handwritten", Georgia, Palatino, serif;
}
figure {
	border-color: #556B2F;
	box-shadow: 0px 0px 30px hsl(61, 38%, 70%);
	background: #FFF;
    :hover {
        color: #6e2900;
        border-color: black;
        img {
            opacity: 1;
            box-shadow: 0 0 3px black;
        }
    }
    img {
        border: solid 1px black;
        opacity: .9;
    }
}

@mixin tdata () {
    border-width: 1px 0 0;
	padding: .5em;
}

@mixin description () {
    font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	color: $current;
}

table {
	padding: 0px;
    table {
        font-size: 1em;
        border-width: 0;
        tr:last-child {
            font-size: 1em;
        }
        td {
           @include tdata; 
        }
    }
     tr {
        &:nth-of-type(even) {
            background-color: lighten($bkg, 5%);
            background-color: rgba(255,255,255, .5);
    }
         &:nth-child(7) td {
             @include description();
         }
         &:last-child {
             font-size: .95em;
         }
    }
   
    tbody {
        border: 0px;
        min-width: 100%;
    }
    th {
        vertical-align: middle;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px hsla(75, 50%, 20%, .75);
        border-width: 0;
        &:first-of-type {
            border: solid 1px #FFF;
            border: solid 1px rgba(255, 255, 255, .5);
            border-width: 0 1px 0 0;
    }
        &:nth-of-type(odd) {
            border-right-color: rgba(255, 255, 255, .2);
        }
    }
    td {
        @include tdata;
        &:last-of-type {
            border-right-width: 0px;
        }
    }
}

.sell table td {
    font-size: .9em;
}

.sell main ul {
    font-family: $navfontfam;
    font-size: 1.1em;
}


/*classes added where nth-child not supported*/
td.nested {
	padding: 0;
	border-width: 0;
}
td.description {
    @include description();
	border-width: 1px 0 0;
}
th.odd {
	border-right: solid 1px #FFF;
}

tr>th.odd {
	border-right: solid 0px #FFF;
}
tr td.odd {
	border-width: 1px 1px 0 0;
}
tr>td.odd {
	border-width: 1px 0 0 0;
}
tr>th.odd+th {
	border-left: solid 1px #FFF;
}
tr>td.odd+td {
	border-width: 1px 0 0 1px;
}
td:first-child+td {
	border-width: 1px 0 0 1px;
}
tr:last-child td {
	border-width: 1px 0 0;
}

table table tr:last-child {
	font-size: 1em;
}

ul {
    &.tab a {
        color: $main;
        text-transform: uppercase;
        font-weight: 700;
    }
    &.tab li a {
	border-color: $main;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: $bkg;
	background: hsla(75, 50%, 90%, .5);
	-webkit-transition: background 1.5s;
	-o-transition: background 1.5s;
	transition: background 1.5s;
	text-shadow: 1px 1px 1px #FFF;
        &:hover {
            color: darken($main, 10%);
        }
    }
    &.loop {
        a {
            text-shadow: 1px 1px 1px hsla(75, 50%, 20%, .75);
            padding: 0.7em .5em 0.7em 2em;
            color: #FFF;
            &:hover {
                color: $bkg;
            }
        }
        li {
            &:nth-child(2) a {
            background: $mid;
        }
            &:nth-child(3) a {
                background: $pale;
            }
            &:nth-child(2) a::after {
                border-left-color: $mid;
            }
            &:nth-child(3) a::after {
                border-left-color: $pale;
            }
            &:first-of-type(1) a {
                padding-left: 0.7em;
            }
        }
    }
}

.nthchild ul.loop a::before {
	content: "";
	margin-left: 1px;
	border: 2em solid transparent;
	border-left-width: 1.2em;
	border-left-color: #FFF;
	border-right-width: 0;
}
.nthchild ul.loop a::after {
	content: " ";
	border-top: 2em solid transparent;
	/* Go big on the size, and let overflow hide */
	border-bottom: 2em solid transparent;
	border-left: 1.2em solid $main;
	border-left: 1.2em solid hsla(75, 50%, 40%, 1);
}

.no-nthchild ul.loop a {
	border-right: solid 1px #FFF;
}

ul.tab li a {
    background-color: $bkg;
	background-image: $bkgtex
}

ul.tab li.current a {
	border-bottom-color: $bkg;
}

.no-nthchild ul.loop a {
	padding: .7em 1.2em;
}

article.intro ul a:hover {
	text-decoration: none;
}
.nthchild ul.loop li:first-child a {
	padding-left: 1em;
}
ul.tab li.current a:hover {
	color: $main;
}

.no-nthchild table tr.odd td {
	background: #F2F1DE;
}

th, ul.loop a, .sell #tooltip div:first-child {
	color: #FFF;
	font-weight: bold;
	background: $main;
}
th {
    background-color: hsla(75, 70%, 30%, 0.75);
}

ul.tab a, figure, figure a, .sell #sell {
	border: solid 1px black;
}

.sell #sell {
    background-color: $bkg;
	background-image: $bkgtex;
}
#tooltip {
	position: absolute;
	z-index: 3;
	bottom: 0em;
	font-weight: normal;
	font-size: .7em;
	opacity: 0;
    @include prefix(transform, translate(-10em, -10em), ms webkit);
    @include prefix(transition-duration, 2s, ms webkit o);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
#sell>a {
	background-color: #FFF;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 2px 2px 5px #FFF;
	opacity: 1;
}

#sell a {
    background-color: #FFF;
    border-color: $main;
}

#sell>table {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, .8);
	opacity: .9;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#alpacas_for_sale h2 {
	color: #944;
	color: hsla(0, 100%, 30%, .3);
}

.no-hsla #alpacas_for_sale h2 {
   opacity: .3; 
}

/* the mere presence of direct child selector prevents ie 6 reading the rules have to move it to its own selector*/
#sell > a {
    border-color: $main;
    border-color: hsla(75, 50%, 40%, 1);
}

.sell #sell, table, table td, body.sell #sell.extent {
	border-color: $main;
}

#sell.extent a{
    border-color: #fff;
}

#tooltip.tip {
    @include prefix(transform, translate(10em, -3em), ms webkit o);
	opacity: .75;
}
#tooltip.tb1 {
	@include prefix(transform, translate(2em, -5em), ms webkit o);
	opacity: 1;
}
#tooltip.tb2 {
	@include prefix(transform, translate(2em, 10em), ms webkit o);
	z-index: 5;
}
.sell #tooltip {
	bottom: 10em;
	left: 0em;
	opacity: 1;
    @include prefix(transform, translate(11em, 0), ms webkit o);
}

#tooltip div:first-child {
	background: #FFF;
	padding: 3px;
}

.sell #tooltip.tip {
	@include prefix(transform, translate(10em, 0), ms webkit o);
}
.sell #tooltip.tb1 {
	@include prefix(transform, translate(0, 10em), ms webkit o);
}
.sell #tooltip.tb2 {
	@include prefix(transform, translate(-50em, 10em), ms webkit o);
}
.sell #tooltip div:first-child {
	text-shadow: 1px 1px 1px black;
}

#alpacas_for_sale.sell h2 {
	color: $current;
    opacity: 1;
}

#sell > a:hover, #sell>table:hover {
	opacity: .9;
    @include prefix(transform, scale(1.01), ms webkit o);
}

#tooltip #triangle {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #FFF;
	margin: -1px 0px 0px 5em;
}
.sell #tooltip #triangle {
	border-top: 12px solid $main;
}
#sell.extent+#tooltip {
	visibility: hidden;
}
/*"gallery"*/

#thumbnails, ul#thumbnails a {
	border: 1px solid;
}
#controls button {
	cursor: pointer;
	background-color: #556B2F;
	border: 1px solid $main;
	border: 1px solid hsla(75, 50%, 40%, 1);
	border-radius: .2em;
	-webkit-box-shadow: 2px 2px 4px black;
	box-shadow: 2px 2px 4px black;
	text-shadow: 1px 1px 1px black;
	line-height: 1.6;
	opacity: 1;
	background-image: url(../assets/buttons_sprite_lowend8.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
#controls>button {
	background-image: url(../assets/buttons_sprite_lowend.png);
	background-color: hsla(50, 50%, 40%, .3);
}
ul#thumbnails {
	border-color: #9c0;
    a:link, a:visited{
        border-color: black;
    }
    a:hover, a:active {
        border-color: $current;
    }
}

ul#thumbnails.gallery img {
    @include prefix(animation, fadefromgrey $speed ease-out, moz webkit);
    }
.done ul#thumbnails.gallery img {
    @include prefix(animation, fadefromgrey 0s ease-out, moz webkit);
}
#controls.static button {
	border: 1px solid #FFF;
	border: 1px solid rgba(255, 255, 255, .75);
}
#controls button:hover, #controls button:focus {
	background-color: silver;
	background-color: rgba(150, 150, 150, .5);
	color: black;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}

button#backbutton {
	background-position: 50% 14.5%;
}
button#playbutton {
	background-position: 50% 29%;
}
.playing #playbutton {
	background-position: 50% 44%;
	opacity: 0.9;
}