/* these declared widths are purely for old versions of ie overwritten for moder browsers*/
#welcome main aside {
    @include alpacas(126%, -15%, 13%, 69em);
}
#welcome p {
    @include alpaca-margin($r: 30%);
}

#welcome #intro {
    background-color: black;
    background-color: rgba(0, 66 ,0, .9);
    position: absolute;
    padding: 2em;
    z-index: 4;
    top: 0;
    left: 0;
    box-shadow: 0px 20px 20px black;
    font-family: Georgia, serif;
}

#welcome #exit {
    left: 0;
    float: right;
    margin: .5em;
    background-color: transparent;
    position: relative;
    z-index: 2;
    text-indent: 100%;
    overflow: hidden;
    transform: none;
    &:focus, &:hover {
        background-color: $current;
    }
}

#welcome #intro p {
    margin: .5em;
    color: white;
    text-shadow: none;
    position: relative;
    z-index: 1;
}
#intro a {
    color: white;
    text-decoration: underline;
}

#about_us main aside {
    @include alpacas(100%, -1em, 14%, 62em);
}
#about_alpacas main aside {
    @include alpacas(111%, -25%, 12%, 60em);
}

#about_alpacas #wrap aside {
		bottom: calc(10% + ((30 - 10) * ((100vw - 768px) / (1280 - 768))));
	}

#about_alpacas.verbose article.intro p {
    margin: 0 35% .5em 0;
    }
#upkeep main aside {
    @include alpacas(119%, -19%, 14%, 60em);
}

#upkeep #wrap aside {
    bottom: calc(10% + ((50 - 10) * ((100vw - 850px) / (1280 - 850))));
}

#upkeep p:first-of-type {
    @include alpaca_margin($r: 27%)
}
#stud_services main aside {
    @include alpacas(125%, -17%, 2%);
}
#stud_services p {
	@include alpaca_margin($r: 69%);
}
#links main aside {
    @include alpacas(135%, -25%, 2%, 75em);
}
#contact_us main aside {
    @include alpacas(95%, -18%, 13%, 55em);
}
#contact_us p {
	line-height: 1.8;
	margin: 0;
}

#welcome main>aside, #about_us main>aside, #about_alpacas main>aside, #upkeep main>aside {
	width: 80%;
}
#stud_services main>aside {
	width: 90%;
}
#links {
    main>aside {
	width: 100%;
        dl {
            margin: 1em 0;
        }
        dd {
            margin: .1em 0 .4em .75em;
        }
    }
}

#contact_us main>aside {
	width: 66%;
}
 
@media only screen  {
  #contact_us main aside {
	width: 70%;
} 
    
    #links main aside {
		z-index: -1;
	}
}

@media only screen and (max-width: 1100px) {
	#welcome article.intro p, #about_us article.intro p {
		margin-right: 0%;
	}
	/* this pic overlaps half the nav (interfering with selecting) until this point, defer bringing forward*/
	#links main aside {
		z-index: -1;
	}

}

@media only screen and (max-width: 850px) {
	.verbose main div p:first-child {
		margin-right: 0%;
	}
}

@media only screen and (max-width: 768px) {
	#about_us main .read-more-target p:first-child {
		margin-right: 0%;
	}
    
    .no-js #about_us aside img {
        visibility: hidden;
    }
     .no-js #about_us aside {
         background: center / contain no-repeat url("../images/honcho.jpg");
    }
    
	#links dt:nth-child(1) {
        @include prefix(animation, entry 1s ease-out 1s backwards, webkit);
	}
	#links dd:nth-child(2) {
        @include prefix(animation, entry 1s ease-out 2s backwards, webkit);
	}
	#links dt:nth-child(3) {
		@include prefix(animation, entry 1s ease-out 3s backwards, webkit);
	}
	#links dd:nth-child(4) {
		@include prefix(animation, entry 1s ease-out 4s backwards, webkit);
	}
	#links dt:nth-child(5) {
		@include prefix(animation, entry 1s ease-out 5s backwards, webkit);
	}
	#links dd:nth-child(6) {
		@include prefix(animation, entry 1s ease-out 6s backwards, webkit);
	}
	#links dt:nth-child(7) {
		@include prefix(animation, entry 1s ease-out 7s backwards, webkit);
	}
	#links dd:nth-child(8) {
		@include prefix(animation, entry 1s ease-out 8s backwards, webkit);
	}
    #stud_services.verbose footer {
		margin-top: 9%;
	}
    #stud_services article.intro p {
		margin-right: 0%;
	}
    #stud_services.verbose main article p {
	margin-right: 0%;
}
    #welcome #intro {
        background-color: rgba(0, 66 ,0, 1);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#upkeep footer {
		margin-top: 0%;
	}
	.js #upkeep p {
		margin-right: 0%;
	}
}
@media only screen and (min-width: 769px) {
	/* @supports(mask-image:  url('')) {
	 @supports (mask-size: cover) or (-webkit-mask-size: cover) {*/
	#about_us main aside {
		z-index: -1;
	}
	#welcome aside img {
        @include alpaca-mask('carlos_masking.png');
	}
	.cssmask #about_us aside img {
        @include alpaca-mask('honcho_masking.png', -10px, 0px);
	}
	#about_alpacas aside img {
        @include alpaca-mask('about_alpacas_masking.png', -1px, 0px);

	}
	#upkeep aside img {
        @include alpaca-mask('upkeep_masking.png');
	}
	#stud_services aside img:first-child {
         @include alpaca-mask('stud_masking.png', -1px, 0px);
	}
	#links aside img {
        @include alpaca-mask('links_masking.png', 0,0);
	}
   
	#contact_us aside img {
        @include alpaca-mask('contacts_masking.png');
	}
	#alpacas_for_sale #wrap main aside {
		z-index: 1;
	}
	#alpacas_for_sale #wrap main aside {
		max-width: 50em;
		width: 130%;
	}
	#alpacas_for_sale #innerwrap, #alpacas_for_sale footer {
		margin-top: 0;
	}
    /*
    if JS disabled and masking is not supported a solution is to reduce the size of the unmasked pic so it sits to the right of the copy
    BUT then browsers that support mask are compromised and mask has to be re-instated through a feature query which those browsers may not support. This seems unfair so the only concession is that the header sits on top of the unmasked image and it simply means that the green bottom-border sits on top of the masked image
    .no-js main {
        position: relative;
    }
    
    .no-js #wrap main aside {
        right: 0;
        bottom: 0;
        width: 30%;
    }
    @supports (mask-size: cover) or (-webkit-mask-size: cover) {
        .no-js #welcome main aside {
            width: 126%;
            right: -15%;
            bottom: 13%;
        }
        .no-js main {
            position: static;
        }
    }
    */
      .no-js header {
        position: relative;
        z-index: 1;
    }
}
