$nav: #080;
$bodyfont: 400 .8em "Merriweather", "Trebuchet MS", sans-serif;
$navfontfam: "Bree Serif", Verdana, sans-serif;
$navfontsize: 700 1.2em/2;
$grass: #759707;
$limey: #9c0;
$navhover: #6e2900;
$current: #900;
$link: #080;
$menu: #C6C084;
$serif: Georgia;
$place: "100px" "200px";
$navlist: (#welcome, #about_us, #about_alpacas, #upkeep, #stud_services, #alpacas_for_sale, #links, #contact_us, #gallery);